body {
  max-width: 800px;
  max-height: 700px;
  border: 5px;
  background-image: url("src/pinkclouds.jpeg");
  background-image: 700px;
}

.card-bodys {
  text-align: center;

  color: #202124;
  background-color: #e4b5f4;
  -webkit-tap-highlight-color: transparent;
}
.card-title {
  font-size: 30px;
  text-align: center;

  color: #9b5d98;
}
.Me {
  text-align: center;
}
.weather.temperature.active {
  color: black;
  cursor: default;
}
.weather.temperature.active:hover {
  text-decoration: none;
}
.card-title {
  text-transform: capitalize;
}
.wind {
  text-align: center;
}
.current {
  background-color: #d87daf;
  border-radius: 20%;
}
.current:hover {
  background-color: #6acaf7;
}
.search:hover {
  background-color: #6acaf7;
}
.search {
  background-color: #d87daf;
  border-radius: 20%;
}
.a {
  margin-left: 10px;
}
