body {
  max-width: 800px;
  max-height: 700px;
  border: 5px;
  background-color: #e7aee8;
}

.card-bodys {
  text-align: left;
  padding-left: 45px;
  color: #202124;
  background-color: #e094df;
}
.card-title {
  font-size: 30px;
  padding-left: 35px;
  margin-left: 15px;
}
.Me {
  text-align: left;
  padding-left: 45px;
}
.weather.temperature.active {
  color: black;
  cursor: default;
}
.weather.temperature.active:hover {
  text-decoration: none;
}
.card-title {
  text-transform: capitalize;
}
.wind {
  text-align: left;
}
.current {
  background-color: #d87daf;
}
.search {
  background-color: #d87daf;
}
