body {
  max-width: 800px;
  max-height: 700px;
  border: 5px;
}

.card-bodys {
  text-align: left;
  padding-left: 10px;
  color: ##202124;
}
.card-title {
  font-size: 20px;
}
.Me {
  text-align: left;
  padding-left: 10px;
}
.weather.temperature.active {
  color: black;
  cursor: default;
}
.weather.temperature.active:hover {
  text-decoration: none;
}
